.register-page {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .register-title {
    color: #e86e6c;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  .input-form {
    border: 1px solid #e86e6c;
    padding: 10px;
  }

  .register-form-button{
    background-color: #e86e6c;
    border-radius: 2rem;
    border:none;
    color: #fff;
    padding: 0.5rem 1rem;
  }
  .register-form-button:hover,
  .register-form-button:focus,
  .register-form-button:active {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: box-shadow ease-in-out 150ms, transform ease-in-out 150ms;
    transition-delay: 50ms;
  }
  .expl-title {
    color: grey;
    font-size: 15px;
    padding: 15px;
    text-align: center;
  }